
* { text-align: center;
color: aliceblue}


.App .articleList {
  padding-top: 3rem;
  background-size: 100vh;
  color: aliceblue;
  background-attachment: fixed;
}

body {
  text-align: center;
  background-attachment: fixed;
  background-position-y: 5rem;
  background-repeat: no-repeat;
  background-image: url('./pictures/wallpaper.jpg');

}

.topicImg {
  text-align: center;
  border-radius: 20%;
  height: 20rem;
  width: 30rem;

}

.topics {
  color: aliceblue;
}

.p, .loading {
  width: 30%;
text-align: center;
margin-top:2rem;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  opacity: 0.87;
 }
 .brandImg {
  height: 3.5rem;
 }
 .navbar-nav li {
  padding-right: 0.7rem;
 }
 .navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
 }

ul li {
  position: center;
  list-style-type: none;
  width: 60%;
  border-bottom: 2px white solid;
  margin: 15% 20%;
}


 .voting {
   padding: 0.8rem;
 }

 textarea {
   color: black;
 }
 .user { 
   color: black;
 }

 button {
   color: black;
 }


 header {
   margin-top: 80px;
   text-align: center;
   font-size: 50px;
 }

 option {
   color: grey;
 }



a:link {
  color: red;

}

a:visited {
  background-color: cyan;
}

a:hover {
  color: rebeccapurple;
}


select {
  color:black;
}

h2 {
  padding: 2px;
}

