.App {
  text-align: center;
}

.header {
  overflow: hidden;
background-color: rgba(106, 106, 44, 0.5);



  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.p, .loading {
  width: 30%;
text-align: center;
margin-top:200px;
}
