
* { text-align: center;
color: aliceblue}


.App .articleList {
  padding-top: 3rem;
  background-size: 100vh;
  color: aliceblue;
  background-attachment: fixed;
}

body {
  text-align: center;
  background-attachment: fixed;
  background-position-y: 5rem;
  background-repeat: no-repeat;
  background-image: url('./pictures/wallpaper.jpg');

}

.topicImg {
  text-align: center;
  border-radius: 20%;
  height: 20rem;
  width: 30rem;

}

.topics {
  color: aliceblue;
}

.p, .loading {
  width: 30%;
text-align: center;
margin-top:2rem;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  opacity: 0.87;
 }
 .brandImg {
  height: 3.5rem;
 }
 .navbar-nav li {
  padding-right: 0.7rem;
 }
 .navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
 }

 li {
   text-align: center;
   width: 20rem;
   height: 23rem;
   list-style: none;
   border: 1px white solid;
   padding: 0px;
   padding-bottom: 5px;
   padding-left: 0px;
   margin: 20rem, 10rem;
 }

 ul {
   padding: 5%;
 }

 .voting {
   padding: 0.8rem;
 }

 textarea {
   color: black;
 }
 .user { 
   color: black;
 }

 button {
   color: black;
 }

 ul {
   display: flex;
   flex-wrap: wrap;
   ;
 }

 header {
   margin-top: 80px;
   text-align: center;
   font-size: 50px;
 }

 /* @media (max-width: 991px) {
 body {
   
  background-position-y: 15rem;

 }
 header {
margin-top: 15;
 }

} */

a:link {
  color: red;

}

a:visited {
  background-color: cyan;
}

a:hover {
  color: rebeccapurple;
}

a:active {
  background-color: hotpink;
} 
select {
  color:black;
}

h2 {
  padding: 2px;
}

