

.App .articleList {
  padding-top: 3rem;
  background-size: 100vh;
  color: aliceblue;
  background-attachment: fixed;
}


.topicImg {
  text-align: center;
  border-radius: 20%;
  height: 30%;
  width: 40%;
  padding-bottom: 1rem;

}



.topics {
  color: aliceblue;

}



.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  opacity: 0.87;
 }
 .brandImg {
  height: 3.5rem;
 }
 .navbar-nav li {
  padding-right: 0.7rem;
 }
 .navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
 }

ul li {
  position: center;
  list-style-type: none;
  width: 60%;
  border-bottom: 2px white solid;
  margin: 5% 20%;
}
ul {
  padding: 0px;
}


 .voting {
   padding: 0.8rem;
 }

 textarea {
   color: black;
 }
 .user { 
   color: black;
 }

 button {
   color: black;
 }


 header {
   margin-top: 80px;
   text-align: center;
   font-size: 50px;
 }

 option {
   color: grey;
 }





a:visited {
  background-color: cyan;
}

a:hover {
  color: rebeccapurple;
}


select {
  color:black;
}

h2 {
  padding: 2px;
}


body {
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-image: url('./pictures/wallpaper.jpg');
  background-position: center;
  height: 100vh;


} 

.App {
  text-align: center;
  font-family: 'Abel', sans-serif;
  color: aliceblue;


}

.singleArticle {
padding: 2rem;
}

.loading {
  width: 30%;
text-align: center;
margin-top:2rem;
color: aliceblue;
padding: 2rem;
}

.articleCard {
  position: relative;
  display: flex;
  display: table-column;
  width: 80rem;
  padding: 0,2rem;
  margin: 0,5rem;
  opacity: 0.8;
}

.delBtn {
  padding: 3px;
  margin: 5px;
}